body{
  margin: 0;
  padding: 80px;
  background-color: #F0F3FF;
}

p{
  margin: 0;
}

.page{
  width: 100%;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 100px 80px 100px;
}

.wrapper p{
  font-family: Avenir, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
  color: #2E282C;
}

.header{
  margin: 0 0 40px 0;
}

nav{
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav >div{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.menu__city, .menu__month{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 14px 0 22px;
  justify-content: space-between;
  align-items: center;
}

nav p,.menu__month,.menu__city{
  margin: 0 20px 0 0;
}

nav img{
  cursor: pointer;
}

.menu__popup p{
  cursor: pointer;
}

nav p,span{
  font-family: Avenir, serif;
  font-style: normal;
  font-size: 24px !important;
  font-weight: 500 !important;
}

.menu__city{
  width: 200px;
  height: 50px;
  border: 1px solid #444444;
  border-radius: 6px;
}

.menu__month{
  width: 200px;
  height: 50px;
  border: 1px solid #444444;
  border-radius: 6px;
}

.menu__popup{
  box-sizing: border-box;
  width: 200px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 6px;
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.47);
  z-index: 2;
  backdrop-filter: blur(10px);
  max-height: 235px;
  overflow: auto;
}

.menu__popup p{
  width: fit-content;
  margin: auto;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.content__block{
  max-width: 600px;
  max-height: 400px;
  margin: 20px;
  position: relative;
  width: 100%;
}

.block__image{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.block__utils{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block__name{
  position: absolute;
  bottom: 42px;
  color: #FFFFFF !important;
}

.block__number{
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: Avenir, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__favorites{
  width: 16px;
  height: 20px;
  cursor: pointer;
}

.none{
  display: none;
}

.flip{
  transform: rotate(180deg);
}

@media (max-width: 1250px) {
  nav{
    flex-wrap: wrap;
  }
  .block__favorites{
    width: 30px;
    height: 37px;
  }
}

@media (max-width: 800px) {
  .wrapper{
    padding: 40px;
  }

  body{
    padding: 10px;

  }

}

@media (max-width: 550px) {
  .block__number{
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .block__name{
    font-size: 30px !important;
    bottom: 21px;
  }

  .block__utils{
    padding: 20px;

  }

  nav p,span {
    font-size: 17px !important;
  }

  .menu__month, .menu__city{
    width: 150px;
    height: 40px;
  }
}